<div>
  <div class="leftgrid">
    <div>Results</div>
    <div *ngFor="let warrior of warriors | async" class="col-1-4">
      <div class="module kindred">
        {{warrior.name}}
      </div>
    </div>
  </div>
  <div class="tokens">
    Tokens
    <ul>
      <li *ngFor="let token of tokens"
          [class.selected]="addedTokens.indexOf(token) > -1"
          (click)="onSelect(token)">
        <span class="badge" *ngIf="addedTokens.indexOf(token) === -1">+</span>
        <span class="badgeRemove" *ngIf="addedTokens.indexOf(token) > -1">-</span>
        <span>{{token.name}}</span>
      </li>
    </ul>
  </div>
</div>