table {
    width: 80%;
    vertical-align: middle;
    border: thin solid;
}

td {
    width: 10%;
    vertical-align: middle;
    text-align: center;
}

.profile {
    background-color: lightgoldenrodyellow;
    border: thin solid;
}

.specialrules {
    width: 20%;
    max-width: 20%;
}

.profilevalue {
    width: 8.5%;
    max-width: 8.5%;
}

.profile td {
    border: thin solid;
}

.constitution-track {
    text-align: left;
}

.constitution-track table {
    border: thin solid;
}

.constitution-track table tr td {
    border: thin solid;
    width: 1%;
    max-width: 1%;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.marker {
    background-color: yellow;
}

.flex-item {
    flex-grow: 1;
    border-radius: 1px;
    border: thin solid black;
    width: 20px;
    max-width: 20px;
    text-align: center;
    font-size: x-small;
}

.flex-item-marker {
    background-color: yellow;
    flex-grow: 1;
    border-radius: 1px;
    border: thin solid black;
    width: 20px;
    max-width: 20px;
    text-align: center;
    font-size: x-small;
}

.filler {
    width: auto;
}