[class*='col-'] {
    padding-right: 10px;
    padding-bottom: 10px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

.grid {
    margin: 0;
}

.container {
    display: flex;
    flex-flow: row wrap;
}

.col-1-4 {
    flex-grow: 1;
}

.module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 30px;
    height: 30px;
    width: 120px;
    max-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
}

.module:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
}