<div *ngIf="!warrior">Loading!</div>

<div *ngIf="warrior">
  <h2>{{warrior.name}}</h2>
  <h5>{{warrior.spelling}}</h5>
  <table>
    <tr>
      <th>Kindred</th>
      <th>Realm</th>
      <th>Kin</th>
      <th>Class</th>
      <th>Privilege</th>
      <th>Acuity</th>
      <th>Ubiquity</th>
      <th>Hands</th>
      <th>
        <table>
          <tr>
            <th>Unit Size</th>
          </tr>
          <tr>
            <td *ngIf="warrior.uniteSizeMin === warrior.uniteSizeMax">{{warrior.uniteSizeMin}}</td>
            <td *ngIf="warrior.uniteSizeMin !== warrior.uniteSizeMax">
              {{warrior.uniteSizeMin}}-{{warrior.uniteSizeMax}}
            </td>
          </tr>
        </table>
      </th>
      <th>Cost</th>
    </tr>
    <tr>
      <td>{{warrior.kindred.name}}</td>
      <td *ngIf="realms">
        <span *ngFor="let realm of realms">
          {{realm.name}}
        </span>
      </td>
      <td *ngIf="!realms">loading!</td>
      <td>
        <span *ngFor="let kin of warrior.kin">{{kin.name}}</span>
      </td>
      <td>
        <span *ngFor="let wclass of warrior.warriorClass">{{wclass.name}}</span>
      </td>
      <td>{{warrior.privilege.name}}</td>
      <td>{{warrior.acuity.name}}</td>
      <td>
        <span *ngFor="let uarray of warrior.ubiquities; let l = last">
          {{uarray.ubiquity.name}} <span *ngIf="uarray.ubiquity_amount > 1">({{uarray.ubiquity_amount}})</span>
          <span *ngIf="!l"> + </span>
        </span>
      </td>
      <td>{{warrior.hands}}</td>
      <td>
        <table>
          <tr>
            <th>Base Size</th>
          </tr>
          <tr>
            <td>{{warrior.baseSize}} mm</td>
          </tr>
        </table>
      </td>
      <td>{{warrior.cost}}</td>
    </tr>
    <tr class="profile">
      <th colspan="3" class="specialrules">{{warrior.name | uppercase}}</th>
      <th class="profilevalue">Pace</th>
      <th class="profilevalue">Skill</th>
      <th class="profilevalue">Might</th>
      <th class="profilevalue">Constitution</th>
      <th class="profilevalue">Fortitude</th>
      <th class="profilevalue">Authority</th>
      <th class="profilevalue">Temper</th>
    </tr>
    <tr>
      <td colspan="3">
        <span *ngFor="let rule of warrior.profile.specialRules" class="smalltext">{{rule.name}}; </span>
      </td>
      <td>{{warrior.profile.pace}}</td>
      <td>{{warrior.profile.skill}}</td>
      <td>{{warrior.profile.might}}</td>
      <td>{{warrior.profile.constitution}}</td>
      <td>{{warrior.profile.fortitude}}</td>
      <td>{{warrior.profile.authority}}</td>
      <td>{{warrior.profile.temper}}</td>
    </tr>
    <tr *ngIf="warrior.uniteSizeMax === 1">
      <td colspan="10" class="constitution-track">
        <div class="container">
          <div *ngFor="let i of warrior.profile.constitution | numberToArrayPipe" [class]="getStyle(i)">
            {{i}}
          </div>
        </div>
      </td>
    </tr>
    <tr *ngIf="warrior.uniteSizeMax <= 5 && warrior.uniteSizeMax > 1">
      <td colspan="10" class="constitution-track">
        <div class="container" *ngFor="let i of warrior.uniteSizeMax | numberToArrayPipe">
          <div *ngFor="let i of warrior.profile.constitution | numberToArrayPipe" [class]="getStyle(i)">
            {{i}}
          </div>
          <div class="filler"> {{warrior.name}} {{i}}</div>
        </div>
      </td>
    </tr>
    <tr *ngIf="warrior.uniteSizeMax > 5">
      <td class="constitution-track">More than 5</td>
    </tr>


    <tr>
      <td colspan="2">COMBAT WEAPON</td>
      <td>Attack Dice</td>
      <td>
        <table>
          <tr>
            <td>Weapon+</td>
            <td>M+W</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>Attack Range</td>
            <td>Charge+</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>M+W+Ch</td>
            <td></td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>Wound+</td>
            <td>Hands</td>
          </tr>
        </table>
      </td>
      <td> Class</td>
      <td colspan="2">Weapon Rules</td>
    </tr>

    <tr *ngFor="let combatWeapon of warrior.combatWeapons">
      <td colspan="2">
        <span>{{combatWeapon.equipment.name}}</span>
        <span>{{combatWeapon.equipment.equipmentType.name}}</span>
      </td>
      <td>{{combatWeapon.attackDice}}</td>
      <td>
        <table>
          <tr>
            <td>{{combatWeapon.weaponPlus}}</td>
            <td>{{combatWeapon.mAndW}}</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>{{combatWeapon.attackRange}}</td>
            <td>{{combatWeapon.chargePlus}}</td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>{{combatWeapon.mAndWAndCh}}</td>
            <td></td>
          </tr>
        </table>
      </td>
      <td>
        <table>
          <tr>
            <td>{{combatWeapon.woundPlus}}</td>
            <td>{{combatWeapon.equipment.hands}}</td>
          </tr>
        </table>
      </td>
      <td>{{combatWeapon.equipment.equipmentClass.name}}</td>
      <td colspan="2"></td>
    </tr>

    <tr>
      <my-armour [armours]="warrior.armours"></my-armour>
    </tr>


    <tr>
      <td colspan="10">
        <div class="container">
          <div class="container miniature" *ngFor="let m of warrior.profile.miniatures">
            <a [href]="m.link" target="_blank">
              <span>{{m.articlenumber}}</span>
              <span>{{m.name}}</span>
              <p>
                <img *ngIf="m.image" [src]="'data:image/jpg;base64,' + m.image" width="100" height="100"/>
              </p>
            </a>
          </div>
        </div>
      </td>
    </tr>
  </table>
  <button (click)="goBack()">Back</button>
</div>