<td colspan="2">{{combatWeapon.equipment.name}}</td>
<td>Attack Dice</td>
<td>
  <table>
    <tr>
      <td>Weapon+</td>
      <td>M+W</td>
    </tr>
  </table>
</td>
<td>
  <table>
    <tr>
      <td>Attack Range</td>
      <td>Charge+</td>
    </tr>
  </table>
</td>
<td>
  <table>
    <tr>
      <td>M+W+Ch</td>
      <td></td>
    </tr>
  </table>
</td>
<td>
  <table>
    <tr>
      <td>Wound+</td>
      <td>Hands</td>
    </tr>
  </table>
</td>
<td> Class</td>
<td colspan="2">Weapon Rules</td>